:host {
  padding-bottom: -32px;
}
.mat-card-header {
  background-color: rgba(0,0,0,.15);

  img[mat-card-avatar] {
    width: 100px;
    height: 100px;
  }
}

.mat-grid-list {
  margin-bottom: 16px;
  border: .5px dashed rgba(0,0,0,.005);
  .avatar-images-list {
    .mat-grid-tile {
      padding: 16px;
    }
    img {
      width: auto;
    }
  }
}

.mat-divider {
  margin-bottom: 8px;
}

.mat-dialog-content {
  padding-top: 8px;
  padding-bottom: 16px;
  height: 60%;
  max-height: 300px;
  border-top: solid rgba(0,0,0,.11) 1px;
  overflow-y: scroll;
}

.mat-dialog-actions {
  padding-bottom: 16px;

  .avatar-button-complete {
    background-color: #673ab7;
    color: #ffd740;
  }
}
