
<mat-card-header>
  <img mat-card-avatar [src]="avatarBuildURL" [ngStyle]="{'border-radius': avatarRounded ? '50%' : '0'}" alt="">
  <mat-card-title>Create an Avatar</mat-card-title>

</mat-card-header>
<mat-dialog-content cdkScrollable>

  <mat-accordion [multi]="true" [displayMode]="'default'">

    <mat-expansion-panel [expanded]="currentStep === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>Background Color</mat-expansion-panel-header>
      <mat-grid-list [cols]="9" [rowHeight]="20">
        <mat-grid-tile [colspan]="1" *ngFor="let color of colorOptions; let i = index;" [ngStyle]="{backgroundColor: '#' + color.hex}" matTooltip="{{ color.name }}" matTooltipPosition="below" (click)="setBackground(color.hex)">
        </mat-grid-tile>
      </mat-grid-list>
      <mat-action-row><button class="mat-raised-button" (click)="nextStep()">next</button></mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="currentStep === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>Font Color</mat-expansion-panel-header>
      <mat-grid-list [cols]="9" [rowHeight]="20">
        <mat-grid-tile [colspan]="1" *ngFor="let color of colorOptions; let i = index;" [ngStyle]="{backgroundColor: '#' + color.hex}" matTooltip="{{ color.name }}" matTooltipPosition="below" (click)="setColor(color.hex)">
        </mat-grid-tile>
      </mat-grid-list>
      <mat-action-row>
        <button class="mat-raised-button" (click)="prevStep()">prev</button>
        <button class="mat-raised-button" (click)="nextStep()">next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="currentStep === 2"  (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>Size and Shape</mat-panel-title>
      </mat-expansion-panel-header>
      <span matLine>
        Rounded
        <mat-slide-toggle name="rounded" labelPosition="before" [checked]="avatarRounded" (change)="setRounded($event.checked)"></mat-slide-toggle>
      </span>
      <br>
      <span matLine>
        Font Size (%)
        <mat-slider #size min=".40" max=".64" step=".05" [thumb-label]="true" (change)="setSize(size.displayValue)">Size</mat-slider>
      </span>
      <br>

      <mat-card-title>
        Avatars
      </mat-card-title>

      <mat-divider></mat-divider>

      <mat-grid-list [cols]="3" [rowHeight]="100" class="avatar-images-list">
        <mat-grid-tile *ngFor="let img of providedAvatarImagesList" (click)="setAvatarImage(img)">
          <img [src]="img" width="100" alt="">
        </mat-grid-tile>
      </mat-grid-list>
      <mat-action-row>
        <button class="mat-raised-button" (click)="prevStep()">prev</button>
        <button class="mat-raised-button" (click)="setStep(-1)">DONE</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>

</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button submit-avatar-button" mat-raised-button [color]="(currentStep === -1) ? 'accent' : 'default'" [disabled]="avatarReadyToSubmit ? false : true" [ngClass]="avatarReadyToSubmit ? 'avatar-button-complete' : ''"  (click)="[buildAvatar(), dialogRef.close(data.user)]" matTooltip="Save avatar" matTooltipPosition="below" >
    <i class="fa fa-check"></i>
  </button>
  <button class="mat-raised-button" color="primary" (click)="dialogRef.close('canceled')" matTooltip="Cancel" matTooltipPosition="below" >
    <i class="fa fa-times"></i>
  </button>
  <button class="mat-raised-button" (click)="reset()" matTooltip="Discard current Avatar" matTooltipPosition="below" >
    <i class="fa fa-trash"></i>
  </button>
</mat-dialog-actions>
