<div id="userProfileCardEditContainer" fxLayout="column" fxLayoutAlign="center center">
  <mat-card-title mat-dialog-title>Edit Profile Information</mat-card-title>
  <mat-dialog-content cdkScrollable>

  <form #editing="ngForm" (keyup.enter)="addNewUserData(editedUserParts)">

    <mat-form-field class="form-field-full-width" fxFill>
      <input matInput #editedUsername name="username" maxlength="30" [(ngModel)]="editedUserParts.username" [placeholder]="'username'">
      <mat-hint align="end">{{editedUsername.value?.length || 0}}/30</mat-hint>
      <mat-error *ngIf="editedUsername.value.length < 1">{{getUsernameErrorMessage()}}</mat-error>
    </mat-form-field>


    <mat-form-field class="form-field-full-width" fxFill>
      <input matInput #editedEmail name="email" maxlength="20" [(ngModel)]="editedUserParts.email" [placeholder]="'email'">
      <mat-hint align="end">{{editedEmail.value?.length || 0}}/20</mat-hint>
    </mat-form-field>


    <mat-form-field class="form-field-full-width" fxFill>
      <input matInput #editedProfileImage name="photoURL" maxlength="30" [(ngModel)]="editedUserParts.photoURL" [placeholder]="'profile image'">
      <mat-hint align="end">{{editedProfileImage.value?.length || 0}}/50</mat-hint>
    </mat-form-field>

    <mat-form-field class="form-field-full-width" fxFill>
      <input matInput #editedLocation name="province" maxlength="30" [(ngModel)]="editedUserParts.profile.location.name" [placeholder]="'location (city, state)'">
      <mat-hint align="end">{{editedLocation.value?.length || 0}}/60</mat-hint>
    </mat-form-field>

    <mat-slide-toggle #editAvatar name="enabledAvatar" [(ngModel)]="editedUserParts.profile.useAvatar">
      Enable Avatar
    </mat-slide-toggle>
  </form>

  </mat-dialog-content>

  <mat-dialog-actions class="user-profile-edit-actions">
    <button class="mat-raised-button" mat-raise-button (click)="addNewUserData(editedUserParts)">
      <i class="fa fa-save"></i>
    </button>
    <button class="mat-raised-button" mat-raise-button (click)="closeEditContainer()">
      <i class="fa fa-times"></i>

    </button>
  </mat-dialog-actions>
</div>
