#userPageWrapper {
  height: 100%;
  .user-profile-card {

    max-width: 50%;
    margin: 0 auto 32px auto;
    text-align: center;

    .user-profile-card-image {
      max-width: 40%;
      max-height: 40%;
      border-radius: 50%;
    }

    .user-profile-card-avatar {
      max-width: 40%;
      max-height: 40%;
    }

    .user-profile-card-content {
      padding-top: 16px;

    }


  }

  .user-profile-card-actions {
    margin: 0 auto;

    .user-profile-card-actions-inner {
      padding: 8px;
      width: 100%;
      button[mat-flat-button] {
        margin: 4px;
      }
    }
  }
  .mat-divider.pad-start-divider {
    margin-bottom: 8px;
  }
  .mat-divider.pad-end-divider {
    padding-top: 8px;
  }

  .mat-divider.end-divider {
    margin-bottom: 16px;
  }

}
