<div *ngIf="auth.user$ | async as user" (load)="loadUser(user)" id="userPageWrapper" fxLayout="column" fxLayoutAlign="center center">

  <div class="user-profile-card" fxLayoutAlign="center center">
    <!-- <button (click)="loadUser(user)"></button> -->
    <mat-card-title class="user-profile-card-title">
      <h3>Hi, {{ user.username | uppercase }}</h3>

    </mat-card-title>
    <img mat-card-image
    [src]="user.profile.useAvatar ? user.profile.avatarBuildURL : user.photoURL" [ngClass]="user.profile.useAvatar ? 'user-profile-card-avatar': 'user-profile-card-image'">

    <mat-card-content  class="user-profile-card-content">
      <p>{{ user.profile?.location.name }}</p>

    </mat-card-content>
  </div>
  <mat-divider></mat-divider>

  <mat-card-actions class="user-profile-card-actions">
    <div class="user-profile-card-actions-inner" fxLayout="row wrap" fxLayoutAlign="center center">
      <button (click)="toggleEditProfileContainer(user)" mat-flat-button class="mat-flat-button" matTooltip="Edit your profile" matTooltipPosition="below">
        <i class="fa fa-pencil-alt"></i>
      </button>
      <button mat-flat-button class="mat-flat-button" matTooltip="View your Avatar" matTooltipPosition="below" (click)="toggleAvatarGenerator(user)">
        <i class="fa fa-user"></i>
      </button>
      <button mat-flat-button class="mat-flat-button" matTooltip="View your photos" matTooltipPosition="below">
        <i class="fa fa-camera"></i>
      </button>
      <button mat-flat-button class="mat-flat-button" matTooltip="View your settings" matTooltipPosition="below">
        <i class="fa fa-cog"></i>
      </button>
    </div>
  </mat-card-actions>

  <mat-divider class="end-divider"></mat-divider>

  <mat-card-title>Stories</mat-card-title>
  <router-outlet></router-outlet>

</div>
