#userPageWrapper {
  height: 100%;
  top: -10px;
  margin-bottom: 60px;
  .user-profile-card {
    display: flex;
    padding: 28px 16px;
    align-items: center;
    background-color: #673ab7;

    .user-profile-card-image {
      max-width: 120px;
      max-height: 120px;
      border-radius: 50%;
    }

    .user-profile-card-avatar {
      max-width: 120px;
      max-height: 120px;
    }

    .user-profile-card-title {
      padding-left: 20px;
      font-weight: 300;
      color: #FFFFFF;
    }


    .user-profile-card-content {
      bottom: 16px;

    }


  }

  .user-profile-card-actions {
    margin: 0 auto;

    .user-profile-card-actions-inner {
      padding: 8px;
      width: 100%;
      button[mat-flat-button] {
        margin: 4px;
      }
    }
  }
  .mat-divider.pad-start-divider {
    margin-bottom: 8px;
  }
  .mat-divider.pad-end-divider {
    padding-top: 8px;
  }

  .mat-divider.end-divider {
    margin-bottom: 16px;
  }

  .mat-card.users-list {
    padding: 0;
    margin-bottom: 16px;
    .mat-card-header {
      padding-left: -24px;
      padding-right: -24px;
      background-color: lighten($color: #673ab7, $amount: 30);
    }
    .mat-card-content {
      display: flex;
      align-items: center;

    }
  }

}
